@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family:nasim ;
    src: url('./font/headfont.otf');
}
@font-face {
    font-family: iran;
    src: url('./font/myfont.otf');
}